/*
!.gitignore
!README.markdown
!/build-working-dir.xml
!/git-commit-portal
!/modules/
!/working.dir.properties
/modules/*
!/modules/.releng/
/modules/.releng/*
!/modules/.releng/private/
/modules/.releng/private/apps/lcs/*
!/modules/private/
/modules/private/apps/lcs/*