/*
!.gitignore
!README.markdown
!/build-working-dir.xml
!/git-commit-portal
!/modules
/modules/*
!/modules/.releng/private/
!/modules/private/

!/modules/apps
/modules/apps/*

!/modules/apps/calevent

!/modules/apps/chat
/modules/apps/chat/*
!/modules/apps/chat/chat-web

!/modules/apps/forms-and-workflow
/modules/apps/forms-and-workflow/*
!/modules/apps/forms-and-workflow/calendar
/modules/apps/forms-and-workflow/calendar/*
!/modules/apps/forms-and-workflow/calendar/calendar-api